<div *ngIf="!isLoading; then thenBlock else elseBlock"></div>

<ng-template #thenBlock>
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="" class="nav-link">TRAVEL UPDATES</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">REVIEWS</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">ABOUT</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link">CONTACT</a>
        </li>
      </ul>
    </nav>
    <div class="button-container">
      <button class="button" id="addButton" (click)="toggleModal(true)">+ ADD ARTICLE</button>
    </div>
    <ng-container *ngFor="let article of filteredArticleList">
      <app-article [article]="article" (fetchArticles)="fetchArticles()" (selectArticle)="selectArticle($event)"></app-article>
    </ng-container>
    <footer class="footer">
      <button [disabled]="startIndex === 0" class="footer-button" (click)="prevArticles()">previous</button>
      <button [disabled]="endIndex >= articleList.length" class="footer-button" (click)="nextArticles()">next</button>
    </footer>
    <app-modal [isModalOpen]="isModalOpen" [selectedArticle]="selectedArticle" (toggleModal)="toggleModal($event)"
      (resetSelectedArticle)="resetSelectedArticle()" (fetchArticles)="fetchArticles()">
    </app-modal>
  </div>
</ng-template>

<ng-template #elseBlock>
  <div>Loading...</div>
</ng-template>